zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions
zsh/.config/zsh/aliases.d/*.aliases
nvim/.config/nvim/undo
nvim/.config/nvim/local.vim
systemd/.config/systemd/user/*.*.requires
systemd/.config/systemd/user/*.*.wants
aerc/.config/aerc/accounts.conf
i3/.config/i3/config.d/*.conf
todoman/.config/todoman/__pycache__
local/.config/local/state
local/.config/local/share/*
!local/.config/local/share/dark-mode.d
!local/.config/local/share/light-mode.d
PrusaSlic3r/.config/PrusaSlic3r/cache/*
lvim/.config/lvim/session
lvim/.config/lvim/lazy-lock.json
PrusaSlic3r/.config/PrusaSlic3r/snapshots/*

