#!/usr/bin/env bash

# system
alias shutdown="sudo shutdown now"
alias restart="sudo reboot"
alias suspend="sudo pm-suspend"
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"
alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index

# git
alias gst="git status"
alias gpr="git pull -r"
alias gcm="git checkout main"
alias gp="git push"
alias gl="git log"
alias gd="git diff"
alias gdc="git diff --cached"

# pacman
alias pacu="sudo pacman -Syu"             # update
alias paci="sudo pacman -S"
alias pacr="sudo pacman -Rns"

# yay
alias yayu="yay -Syu"
alias yayi="yay -S"

# todoman
alias tdlp="todo list personal"
alias tdla="todo list arch-linux"
alias tdd="todo done"

# ls
alias ls="ls --color"

# kitty
alias icat="kitty +kitten icat --align left"

# docker
alias dcud="docker-compose up -d"
alias dcd="docker-compose down"
alias dcps="docker-compose ps"
alias dcl="docker-compose logs"
alias dclt="docker-compose logs --tail"
